<button (click)="back()">back</button>
<ngx-extended-pdf-viewer [src]="pdfURL"
                         height="75vh"
                         [useBrowserLocale]="true"
                         [delayFirstView]="1000"
                         [showSidebarButton]="false"
                         [showFindButton]="false"
                         [showPagingButtons]="true"
                         [showZoomButtons]="true"
                         [showPresentationModeButton]="true"
                         [showOpenFileButton]="false"
                         [showPrintButton]="true"
                         [showDownloadButton]="true"
                         [showBookmarkButton]="false"
                         [showSecondaryToolbarButton]="false"
                         [showRotateButton]="false"
                         [showSelectToolButton]="false"
                         [showHandToolButton]="false"
                         [showScrollingButton]="false"
                         [showSpreadButton]="false"
                         [showPropertiesButton]="false">
</ngx-extended-pdf-viewer>
